<div class="col-md-12 page-header workout-intro">
	<h1 class="text-center">Did some exercise?</h1>
</div>
<div class="container workout-form">
	<div class="row">
		<div class="col-md-12">
			<%= render 'form' %>
		</div>
	</div>
</div>
