<div class="col-md-12 footer">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-6">
				<h4>Follow us on Social Media!</h4>
				<ul class="list-inline">
					<li>Facebook</a></li> |
					<li>Instagram</li> |
					<li>Google +</li> |
					<li>Twitter</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h4>Download us in the app stores!</h4>
				<ul class="list-inline">
					<li>Android</li> |
					<li>iPhone</li> |
					<li>Blackberry</li> |
					<li>Windows</li>
				</ul>
			</div>
		</div>
	</div>
</div>
